@function font-progression-math($step, $variable) {
  $font-progression-multiplier: $variable;
  $font-progressions-base: 1em;
  $font-progressions-formula: ((1 / $font-progression-multiplier) * ($step * ($step - 1) / 2));

  @if $step > 0 {
    @return $font-progressions-base + $font-progressions-formula;
  }

  @else if $step == -1 {
    @return $font-progressions-base - $font-progressions-formula;
  }
}
