$font-xxl-line-height: 6.5rem;
$font-xl-line-height: 5rem;
$font-lg-line-height: 4rem;
$font-1-line-height: 3rem;
$font-2-line-height: 2.5rem;
$font-3-line-height: 2rem;
$font-4-line-height: 1.5rem;
$font-5-line-height: 1.25rem;
$font-6-line-height: 1rem;
