html, :root {
	$font-fallback: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-family: 'PlexSans', $font-fallback;
	font-size: 1rem;
	line-height: 1.5;
	color: $gray-dark;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

::selection {
	color: $white;
	background: $primary;
}
